<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_InterfaceWCF" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/PC" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_InterfaceWCF" contract="InterfaceWCF"
                name="BasicHttpBinding_InterfaceWCF" />
        </client>
    </system.serviceModel>
</configuration>