<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPostComment" />
                <binding name="BasicHttpBinding_IPostComment1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/PC" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPostComment" contract="IPostComment"
                name="BasicHttpBinding_IPostComment" />
            <endpoint address="http://localhost:8080/PC" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPostComment1" contract="ServiceReferencePC.IPostComment"
                name="BasicHttpBinding_IPostComment1" />
        </client>
    </system.serviceModel>
</configuration>